src/main/resources/request/xsd/dicts/library-country.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="GtLocal_Request" type="GtLocal_RequestType"/>
  <xs:complexType name="GtLocal_RequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="Code" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="List"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Type" use="required"/>
  </xs:complexType>
</xs:schema>