src/main/resources/request/xsd/dicts/library-station-list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="GtLocal_Request" type="GtLocal_RequestType"/>
  <xs:complexType name="GtLocal_RequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Railway"/>
      <xs:element type="xs:string" name="Country"/>
      <xs:element type="xs:string" name="List"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Type" use="required"/>
  </xs:complexType>
</xs:schema>