src/main/resources/request/xsd/express/train-number-g15.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="GtExpress_Request" type="GtExpress_RequestType"/>
    <xs:complexType name="GtExpress_RequestType">
        <xs:sequence>
            <xs:element type="xs:string" name="Train"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="Type"/>
    </xs:complexType>
</xs:schema>
